.aai_box {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 8px #999999;
    border-radius: 13px;  
    overflow: hidden;
    padding: 18px;
    width:450px;
    margin-top:50px;
}

.aai_logo {
    float: left;
    padding-top: 35px;
    border: 0;
}

.aai_menu {
    line-height: 45px;
    float: left;
    padding-left: 2px;
    width: 100%;
}

.aai_menu li {
    float: left;
    list-style: none;
    line-height: 35px;
    margin-right: 10px;
}

.aai_menu li.last {
    padding: 0 0 0 8px;
    float: left;
    margin-right: 10px;
    list-style: none;
}

.aai_login_field {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: #F0F0F0;
    border-color: #969696;
    border-width: 1px;
    border-style: solid;
    padding: 6px;
    padding-top:21px;
    padding-bottom:21px;
}

.aai_login_button {
    float: right;
}

.login_error {
    color: #FF5B00; 
    font-weight: bold;
}

header, footer, section, nav {
    display: block;
}

html, body {
    height: 100%;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    line-height: 1.5;
}

.container {
    overflow: hidden;
}

a:link, a:visited {
    text-decoration: none;
    color: #2075B1;
}

img {
    max-width: 100%;
    margin-bottom: 12px;
}

header {
    padding: 20px 0;
}

.logo img {
    border: none;
}

form > div {
    padding: 1px;
    margin: 0 0 10px 0;
}

form > div.form-group > label {
    width: 25%;
    float: left;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.footer-text {
    margin-bottom: 12px;
}

.form-element {
    width: 50%;
} 

.space {
    padding-top: 10px;
}

.help {
    clear: both;
    padding-left: 0;
}

.help li {
    float: left;
    list-style: none;
    margin-right: 16px;
}

.help li.last {
    float: left;
    list-style: none;
    margin-right: 0px;
    padding: 0 0 0 0px;
}

.item-marker {
    color: #BE0000;
}


@media only screen and (max-width: 799px) { 

    form > div {
        margin: 0 0 15px 0; 
    }

    form > div > label {
        width: 100%;
        margin: 0 0 5px 0;
    }

    input[type=text], input[type=password] {
        width: 100%;
        box-sizing: border-box; 
    }

    .aai_box {
        width: auto;
        box-shadow: none;
        border-radius: 0;  
        padding: 0;
    }
}
